<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/index.css">
        <title>
            Weather
        </title>
    </head>

    <body>

        <h1> The weather for today, <%= @htmlscrape.month %>/<%= @htmlscrape.date %>/<%= @htmlscrape.year %>: </h1>

        <div class="today">
            <h3> Today's Weather: </h3>
            <p>
                High: <%= @htmlscrape.today_high %>
                <br>
                Conditions: <%= @htmlscrape.today_cond %>
                <br>
                Chance of <%= @htmlscrape.chance_of_what_day %>: <%= @htmlscrape.today_rain %>
                <br>
                Humidity: <%= @htmlscrape.today_hum %>
            </p>
        </div>

        <br><br><br>
        <div class="today">
            <h3> Tonight's Weather: </h3>
            <p>
                High: <%= @htmlscrape.tonight_low %>
                <br>
                Conditions: <%= @htmlscrape.tonight_cond %>
                <br>
                Chance of <%= @htmlscrape.chance_of_what_night %>: <%= @htmlscrape.tonight_rain %>
                <br>
                Humidity: <%= @htmlscrape.tonight_hum %>
            </p>
        </div>
        
    </body>
</html>